#yoga_div {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

#yoga_head {
    margin-left: 20px;
    font-size: 45px;
    padding: 0px;
    margin-bottom: 15px;
}

#yoga {
    margin: 0px;
    justify-content: center;
    border-width: 5px;
    border-style: double;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
    text-align: justify;
    border-radius: 15px;
    font-size: 17px;
    overflow-y: scroll;
}

#button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#move_btn {
    padding: 8px;
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

@media only screen and (max-width:500px) {
    #yoga_head {
        margin: 10px auto;
        font-size: 30px;
        padding: 0px;
    }

    #yoga {
        margin: auto;
        height: 600px;

        margin-top: 0px
    }

    #move_btn {
        font-size: 15px;
    }

}