.m-5 {
    margin: 5px
}

.m-10 {
    margin: 10px
}

.m-5-0 {
    margin: 5px 0px
}

.m-0-5 {
    margin: 0px 5px
}

.m-10-0 {
    margin: 10px 0px
}

.m-0-10 {
    margin: 0px 10px
}

.m-20-0 {
    margin: 20px 0px;
}

.m-20 {
    margin: 20px;
}

.m-auto {
    margin: auto;
}

.m-0 {
    margin: 0px;
}

.p-2 {
    padding: 2px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}


.p-0 {
    padding: 0px;
}